body, head {
    background-color: #206396;
    font-size: 14px;
    font-family:Open sans, sans-serif;
    color: black;
}

ul, ol {
    list-style: none;
}

li {
    #border-radius: 2px;
    background-color: #B99DD1;
}

*  {
  margin: 0;
  padding: 0;
}

/*/
/* canvas
/*/

#widget {
    #background-color:#9DCFD1;
    border-radius: 0px;
}

#canvas-wrapper {
    width:100%;
    
    position:relative;
    background-color: #B2D4EF;
    #background-color:#212121;
}

#simulation-canvas {
    width:100%;
    height:100%;
    
    position:relative;
}

#overlay-canvas {
    z-index:5;
    position:absolute;
    top:0;
    width:100%;
    height:100%;
    background-color:rgba(178, 212, 239, 0.3);
    display:none;
}

#simulation-area {
    #background-color:#091D3D;
    display: block;
    padding: 7.5em 0 5.5em;
}

#graph-canvas {
    width:100%;
    height:100%;
}

/*/
/* gridster
/*/

.gridster {
    #width: 100px;
    #margin: 0 auto;
    background-color:#206396;
    display: block;
    padding: 7.5em 0 5.5em;
}

.gridster .gs-w {
    background:#80B3DA;
    #background:#646464;
    cursor: pointer;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.gridster .player {
    -webkit-box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
    box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
}


.gridster .preview-holder {
    border: none!important;
    border-radius: 0!important;
    background: rgba(255,255,255,.2)!important;
}

/*buttons*/
/*http://paletton.com/#uid=13x0u0kiCFn8GVde7NVmtwSqXtg*/

#control-panel {
    width:100%;
    #height:60px;
    position:relative;
    display:inline-table;
}

#add-del-panel {
    width:40%;
    height:100%;
    position:relative;
}

button{
    position:relative;
    border:0;
    background-color:#B2D4EF;
    border: solid #80B3DA 1px;
}

button:active {
    background-color:#3977A7;
}

.control-button:before{
    position:absolute;
    left:0;
    top:0;
    width:50px;
    height:100%;
    #line-height:2;
    padding:10px 0px 10px 5px;
    font-size:130%;
    text-align:center;
}

.config-button {
    font-size:110%;
    text-align:center;
    padding:5px 5px 5px 5px;
}

.control-button {
    width:50%;
    margin-right:0px;
    #margin-bottom:2px;
    text-align:left;
    padding:10px 20px 10px 50px;
    width:50%;
    float:left;
}

.control-button.max{
    width:100%;
    padding:10px 20px 10px 70px;
}

.control-button.no-icon {
    width:100%;
    padding:10px 20px 10px 20px;
    text-align:center;
}

.add-del-button:before {
    font-size:190%;
}

.add-del-button{
    width:100%;
    height:50%;
    margin-bottom:0;
}

/* slider */

.particle-slider-wrapper {
    margin-top:3px;
    margin-right:10px;
    padding-top:3px;
    float:left;
    width:100%;
}

.particle-slider {
    float:right;
    width:45%;
    margin-right:10px;
}

.slider-label {
    float:left;
    padding:0 10px 0 10px;
    word-wrap: break-word;
    margin-top:-3px;
}

.slider-amount {
    position:absolute;
    background:#3977A7;
    visibility:hidden;
    border-radius:5px;
    z-index:5;
    
    margin-left:-20px;
    padding: 5px 10px 5px 10px;
    top:-32px;
    font-size:80%;
    font-weight:150%;
    
    width:auto;
    height:auto;
}

.ui-slider-horizontal {
    position:relative!important;
    background:#B2D4EF!important;
    border:0!important;
    border-radius:0!important;
    height: 10px!important;
    padding:0!important;
}

.ui-slider-handle {
    width:10px!important;
    height:10px!important;
    top:-1px!important;
    border-radius:4px!important;
    margin-left:-5px!important;
}

/* colour pickers */
.colour-picker {
    width:100%;
    height:20px;
    float:right;
    margin-right:10px;
}

.minicolors-theme-default .minicolors-swatch {
    top: 5px!important;
    left: 5px;
    width: 10px!important;
    height: 10px!important;
}
.minicolors-theme-default.minicolors-position-right .minicolors-swatch {
    left: auto;
    right: 5px;
}
